.Button {
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background-color: transparent;
    height: 32px;
    width: 32px;
}

.Button-Heading {
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background-color: transparent;
    height: 20px;
    width: 32px;
}

.Button > img.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Button-Text {
    text-align: left;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
    margin-left: 20px;
    width: 68%;
}

.Button-Text-Disabled {
    text-align: left;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
    margin-left: 20px;
    width: 68%;
    opacity: 0.5;
}

.Button-Icon {
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    width: 150px;
    height: 48px;
    margin-top: 14px;
    margin-right: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
}

.Button-Img {
    opacity: 1;
}

.Button-Img-Disabled {
    opacity: 0.5;
}

.Button-Icon-Small {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    padding: 6px 12px 12px 6px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background-color: transparent;
    height: 32px;
    width: 80px;
}
.Button-Text-Small {
    text-align: right;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
}
.Button-Text-Small-Left {
    margin-left: 10px;
    text-align: right;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
}
.Button-Text-Small-Disabled {
    text-align: right;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
}
.Button-Img-Small {
    margin-right: 4px;
}
