.heading {
    width: 100vh;
    left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.heading-title {
    text-align: left;
    font: normal normal bold 16px/19px Corbel;
    letter-spacing: 0.32px;
    color: #404040;
    opacity: 1;
    left: 12px;
}
