.member {
    width: 100%;
    max-width: 335px;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.member-expanded {
    width: 100%;
    max-width: 335px;
    height: 140px;
    background: #0000000A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    position: relative;
    top: -40px;
}

.member > div {
    position: relative;
    top:4px
}

.member-actions {
    float: right;
}

.member-img {
    height: 24px;
    width: 24px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 50%;
}

.member-name {
    margin-top: 4px;
    width: 148px;
    max-width: 148px ;
    height: 21px;
    text-align: left;
    font: normal normal bold 14px/17px Corbel;
    letter-spacing: 0px;
    color: #707070;
}

.member-open {
    margin-top: 4px;
    margin-right: 8px;
    width: auto;
    height: 32px;
    align-self: center;
    height: 21px;
    text-align: left;
    font: normal normal normal 14px/17px Corbel;
    letter-spacing: 0px;
    color: #707070;
}
