.App {
  height: 100vh;
  background: #fbfbfb 0% 0% no-repeat padding-box;
}

.App-title {
  text-align: left;
  font: italic normal bold 24px/29px Corbel;
  letter-spacing: 0px;
  color: #707070;
  margin-left: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-Margin {
  margin-left: 16px;
  margin-right: 16px;
}

.App-Footer {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0px;
}

.App-Footer-Text {
  text-align: left;
  font: normal normal 300 12px/14px Corbel;
  letter-spacing: 0px;
  color: #404040;
}
