.group {
    width: 156px;
    height: 108px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    margin-right: 16px;
}
.group-highlight {
    border: 1px solid #ee45bb;
    width: 156px;
    height: 108px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    margin-right: 16px;
}

.group-info {
}

.group-header {
    width: 104px;
    height: 21px;
    text-align: left;
    font: normal normal bold 14px/17px Corbel;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
}

.group-info-open {
    width: 52px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px Corbel;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    position: relative;
    left: 12px;
}

.group-info-total {
    width: 52px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px Corbel;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-left: 12px;
    margin-top: 2px;
}

.group-member-image {
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50%;
}
.group-imgs {
    margin-left: 12px;
}
.group-imgs img:not(:first-child) {
    margin-left: -12px;
}
